PORT=5000
MONGODB_URI=mongodb+srv://admin:AdminContrAge2026@cluster0.mongodb.net/contrage?retryWrites=true&w=majority
JWT_SECRET=contrage_jwt_super_secret_clinical_key_2026_998877
CLIENT_URL=http://localhost:5173
NODE_ENV=development
